/*

1 - Element page
2 - Header
3 - Slide
4 - Skills
5 - Project
6 - Contact
7 - Footer

*/
.dark {
  background-color: #1c1c1c;
  transition: 0.3s all ease-in-out;
}
.dark h1, .dark h2, .dark h4, .dark p {
  color: #fff;
  transition: 0.3s all ease-in-out;
}
.dark .text-span {
  color: #ac79ef;
}
.dark .badges {
  background: #272751;
  color: #747cca;
}
.dark .header-menu {
  background-color: #fff;
}
.dark .header-menu a, .dark .header-menu h1 {
  color: #121212;
  transition: 0.3s all ease-in-out;
}
.dark .container-slide .description-slide {
  color: #fff;
}
.dark .container-slide .content-scroll .fa-chevron-down {
  color: #ac79ef;
}
.dark .container-skills .animation-line .bg-line {
  stroke: #747cca;
}
.dark .content-projects .items-projects .project .icon-project i {
  color: #747cca;
}
.dark .content-projects .items-projects .project .title-project, .dark .content-projects .items-projects .project .description-project {
  color: #272751;
}
.dark .content-projects .items-projects .project::after {
  background-color: #f4f7fa;
}
.dark .contact .container-profile .content-profile .img-profile {
  border: 5px solid #ac79ef;
}
.dark .contact .container-profile .content-profile a, .dark .contact .container-profile .content-profile .icon-maps {
  color: #ac79ef;
}
.dark .contact .form-labels input:focus {
  outline: 3px solid #747cca;
}
.dark .contact .form-labels textarea:focus {
  outline: 3px solid #747cca;
}
.dark .contact .form-labels .container-submit button[type=submit] {
  background-color: #272751;
  color: #747cca;
}
.dark .container-social p {
  color: #121212;
}
.dark #copyright {
  background-color: #222;
}

/*

1 - Element page
2 - Header
3 - Slide
4 - Skills
5 - Project
6 - Contact
7 - Footer

*/
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Inter Tight", sans-serif;
  transition: 0.3s all ease-in-out;
}

p::selection {
  background-color: #ffad2b;
  color: #f7f7f7;
}

h1 {
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 1rem;
  color: #212121;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

section {
  max-width: 1400px;
  min-height: 750px;
  margin: 0 auto;
  padding-top: 50px;
}

.text-section {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.text-span {
  color: #ffad2b;
}

.badges {
  padding: 10px;
  margin-top: 20px;
  display: block;
  font-size: 12px;
  font-weight: 500;
  max-width: 227px;
  border-radius: 22px;
  text-align: center;
  background: #fff0f3;
  color: #fc7aaa;
  letter-spacing: 1px;
}

.content-scroll {
  display: inline-grid;
  justify-items: flex-end;
  align-items: center;
  align-content: center;
}
.content-scroll .fa-chevron-down {
  color: #fea2a7;
  transition: 0.3s all ease-in-out;
}
.content-scroll .fa-chevron-down:hover {
  transform: scale(1.2);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 5;
}
.header .header-content {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.header .header-content .logo {
  padding: 15px;
}
.header .header-content .menu-link ul {
  list-style: none;
  display: flex;
}
.header .header-content .menu-link ul li {
  margin-right: 20px;
}
.header .header-content .menu-link ul li a, .header .header-content .menu-link ul li a:visited {
  text-decoration: none;
  color: #212121;
}
.header .header-content .menu-link ul li a:visited {
  color: #212121;
}
.header .header-content .menu-link ul li a:active, .header .header-content .menu-link ul li a:hover {
  transition: 3sec;
  color: #ffad2b;
}
.header .header-content #btn-dark {
  width: 170px;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding-right: 15px;
}
.header .header-content #btn-dark .circle {
  border: 2px solid #212121;
  padding: 4px;
  border-radius: 20px;
}
.header .header-content #btn-dark .text-dark {
  position: relative;
  left: -1%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.header .header-content #btn-dark:hover .text-dark {
  position: relative;
  left: 4%;
  transition: all 0.8s ease-in-out;
  opacity: 1;
}

.container-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 50px;
  align-items: center;
  padding-bottom: 100px;
}
.container-slide .animation-slide {
  width: 650px;
  height: 650px;
}
.container-slide .text-slide {
  display: grid;
  justify-items: flex-start;
  align-content: center;
  font-size: 20px;
  padding: 20px;
}
.container-slide .description-slide {
  max-width: 530px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 1px;
  color: #212121;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container-skills .animation-line {
  position: absolute;
  left: 50%;
}
.container-skills .animation-line .bg-line {
  z-index: 1;
  background-size: 700px 654px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  background-repeat: no-repeat;
  fill: none;
  stroke: #ffad2b;
  stroke-width: 6;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: line 1s infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scrollpage) * -1s);
}
@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}
.container-skills .content-skills {
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 180px);
  justify-items: center;
  align-items: center;
  align-content: center;
}
.container-skills .content-skills .skill {
  min-width: 110px;
  height: 110px;
  background-color: #f4f7fa;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms;
}
.container-skills .content-skills .skill:hover {
  transform: translateY(-10px);
}

.content-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.content-projects .items-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  min-height: 500px;
}
.content-projects .items-projects .project {
  display: grid;
  align-content: flex-end;
  text-align: center;
  min-width: 300px;
  background-color: #f7f7f7;
  border-radius: 27px;
  overflow: hidden;
}
.content-projects .items-projects .project .icon-project i {
  color: #ff9a15;
  padding-top: 20px;
  margin-bottom: 50px;
  transition: transform 0.2s;
}
.content-projects .items-projects .project .icon-project i:hover {
  transform: scale(1.1);
}
.content-projects .items-projects .project::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffbf3f;
  max-width: 100%;
  min-height: 50px;
  z-index: 1;
  transition: all 0.35s ease-Out;
}
.content-projects .items-projects .project:hover::after {
  min-height: 230px;
}
.content-projects .items-projects .project .title-project {
  color: #fff;
  font-weight: 400;
  position: relative;
  top: 16px;
  z-index: 2;
  margin-bottom: -40px;
}
.content-projects .items-projects .project .description-project {
  display: none;
  position: relative;
  top: 100%;
  text-align: center;
  margin-bottom: -199px;
  padding: 0 15px;
  z-index: 2;
  margin-top: 40px;
  color: #fff;
  max-width: 220px;
  left: 9%;
}
.content-projects .items-projects .project:hover .description-project {
  display: block;
}
.content-projects .items-projects .bg-project-1 {
  background-color: #f7f7f7;
  background-image: url(../images/projects/background-project-1.webp);
  background-repeat: no-repeat;
}
.content-projects .items-projects .bg-project-2 {
  background-color: #f7f7f7;
  background-image: url(../images/projects/background-project-2.webp);
  background-position: top;
  background-repeat: no-repeat;
}
.content-projects .items-projects .bg-project-3 {
  background-color: #f7f7f7;
  background-image: url(../images/projects/background-project-3.webp);
  background-position: right;
  background-repeat: no-repeat;
}
.content-projects .items-projects .bg-project-4 {
  background-color: #f7f7f7;
  background-image: url(../images/projects/background-project-4.webp);
  background-position: inherit;
  background-repeat: no-repeat;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-items: center;
}
.contact .container-profile {
  display: grid;
  min-width: 390px;
  max-height: 465px;
  align-items: center;
  justify-content: center;
  border: 4px solid #f4f7fa;
  border-radius: 10px;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 1fr;
}
.contact .container-profile .content-profile {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.contact .container-profile .content-profile .img-profile {
  border: 5px solid #ffbf3f;
  border-radius: 60px;
}
.contact .container-profile .content-profile h2 {
  font-weight: 400;
  margin: 10px 0;
}
.contact .container-profile .content-profile p {
  margin: 5px 0;
  font-weight: 300;
}
.contact .container-profile .content-profile a {
  text-decoration: none;
  color: #ffbf3f;
}
.contact .container-profile .content-profile .icon-maps {
  color: #ffbf3f;
}
.contact .container-profile .container-social {
  height: 100%;
  display: grid;
  align-content: center;
  text-align: center;
  background-color: #f9f9f9;
}
.contact .container-profile .container-social .content-social {
  margin-top: 20px;
  transition: 0.3s all ease-in-out;
}
.contact .container-profile .container-social .content-social i {
  margin: 5px;
}
.contact .container-profile .container-social .content-social:hover {
  transform: scale(1.1);
}
.contact .form-labels .input-flex {
  display: flex;
}
.contact .form-labels input {
  margin: 10px;
  min-width: 300px;
  min-height: 45px;
  text-align: center;
  border-radius: 10px;
  background-color: #f4f7fa;
  border: none;
}
.contact .form-labels input:focus {
  outline: 2px solid #ffac2a;
}
.contact .form-labels textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  background-color: #f4f7fa;
  border: none;
  width: 605px;
  border-radius: 10px;
  min-height: 200px;
  margin: 9px;
  padding: 7px;
}
.contact .form-labels textarea:focus {
  outline: 2px solid #ffac2a;
}
.contact .form-labels input[type=tel] {
  width: 620px;
  min-height: 45px;
}
.contact .form-labels input[type=tel]:invalid,
.contact .form-labels input[type=email]:invalid {
  outline: 2px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}
.contact .form-labels .container-submit {
  display: flex;
  justify-content: center;
}
.contact .form-labels .container-submit button[type=submit] {
  min-width: 300px;
  min-height: 36px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background-color: #ffbf3f;
  text-align: center;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.section-thanks {
  text-align: center;
}
.section-thanks h1 {
  font-weight: 400;
}
.section-thanks h2 {
  font-weight: 200;
}

#copyright {
  background-color: #f7f7f7;
  width: 100%;
  height: 70px;
  display: grid;
  align-items: center;
}
#copyright p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
